= render 'shared/errors', obj: @recipe

.row
  .col-md-12
    = form_for(@recipe, :html => {class: 'form-horizontal', multipart: true, role: 'form'}) do |f|
      .form-group
        .control-label
          = f.label :name
        = f.text_field :name, class: 'form-control', placeholder: 'name of recipe', autofocus: true
      .form-group
        .control-label
          = f.label :description
        = f.text_area :description, rows: 10, class: 'form-control', placeholder: 'name of recipe'
      .form-group
        .control-label
          = f.label :image
        = f.file_field :image, accept: 'image/jpeg,image/gif,image/png'

      .form-group
        = f.submit class: 'btn btn-outline-primary btn-lg'
      
    .colormatch
      = link_to '[ Cancel request and return to recipes listing ]', recipes_path

 