= render 'shared/errors', obj: @user

.row
  .col-md-12
    = form_for(@user, :html => {class: 'form-horizontal', role: 'form'}) do |f|
      .form-group
        .normal-label
          = f.label :username, 'Username'
        .normal-form
          = f.text_field :username, class: 'form-control', placeholder: 'enter your name', autofocus: true 
      .form-group
        .normal-label
          = f.label :email
        .normal-form
          = f.email_field :email, class: 'form-control', placeholder: 'enter your email'
      .form-group
        .normal-label
          = f.label :password
        .normal-form
          = f.password_field :password, class: 'form-control', placeholder: 'enter your password'
      .form-group
        .normal-label
          = f.label :password_confirmation, 'confirm'
        .normal-form
          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm your password'
      .form-group
        .form-button
          = f.submit(@user.new_record? ? 'Create my account' : 'Update my account', class: 'btn btn-primary btn-lg')
    .col-md-offset-4.col-md-4.colormatch
      = link_to 'Cancel request and return to recipes listing', recipes_path
