= render 'shared/errors', obj: @user
= render 'shared/page_title', title: 'edit user profile'

.col-md-12
  = form_for(@user, :html => {class: 'form-horizontal', role: 'form'}) do |f|
    .form-group
      .normal-label
        = f.label :username, 'Username'
      .normal-form
        = f.text_field :username, class: 'form-control', placeholder: 'enter your name', autofocus: true 
    .form-group
      .normal-label
        = f.label :email
      .normal-form
        = f.email_field :email, class: 'form-control', placeholder: 'enter your email'
    .form-group
      .normal-label
        = f.label :avatar, 'Select avatar'
      .normal-form
        = f.file_field :avatar
    .form-group
      .form-button
        = f.submit('Edit your account', class: 'btn btn-outline-success btn-lg form-btn')
  .link-to-other-page.center
    .colormatch
      = link_to 'Cancel request and return to recipes listing', recipes_path
