= render 'shared/page_title', title: 'All users'
.row.users-container
  .col-md-2
  .users-list
    - @users.each do |user|
      .user-info.media
        .user-avatar.align-self-start.mr-3= gravatar_for(user)
        .media-body
          %h5.mt-0= link_to user.username.capitalize, user_path(user)
          - if user.recipes
            %small= pluralize(user.recipes.count, 'recipe') 
          - if logged_in? && current_user.admin? && !user.admin?
            %p= link_to 'Delete this user', user_path(user), method: :delete, data: { confirm: 'Are you sure you want to delete the chef and all associated recipes?' } 

= paginate @users