%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to root_path, class: 'navbar-brand' do
    %i.fas.fa-utensils
    MYRECIPES


  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "All recipes", recipes_path, class: 'nav-link'
      %li.nav-item
        = link_to "All users", users_path, class: 'nav-link'
      %li.nav-item.dropdown
        -# = link_to "All Ingredients", ingredients_path
        = link_to "Recipes", "#", id: 'navbarDropdown', class: 'nav-link dropdown-toggle', role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}
        .dropdown-menu{aria: {labelledby: "navbarDropdown"}}
          -# = link_to "All Ingredients", ingredients_path
          -# - Ingredient.all.each do |ingredient|
          -#   = link_to ingredient.name.capitalize, ingredient_path(ingredient) 
          - if logged_in?  
            = link_to "Create a new recipe", new_recipe_path, class: 'dropdown-item'
            = link_to "Comming soon", "#", class: 'dropdown-item'
          .dropdown-divider
          = link_to "Nothing yet", "#", class: 'dropdown-item'

    %ul.navbar-nav.navbar-right
      - if logged_in?
        .btn-group
          %button.btn.btn-primary.dropdown-toggle{type: "button", data: {toggle: "dropdown",}, aria: {haspopup: "true", expanded: "false"}}
            =current_user.username.capitalize + "'s profile"
          .dropdown-menu
            =link_to "View your profile", user_path(current_user), class: 'dropdown-item'
            =link_to "Edit your profile", edit_user_path(current_user), class: 'dropdown-item'
            =link_to "Action", "#", class: 'dropdown-item'
            .dropdown-divider
            =link_to "Log out", logout_path, class: 'dropdown-item', method: :delete
      - else
        %li.nav-item= link_to 'Log in', login_path, class: 'nav-link header-link-to-guest'
        %li.nav-item= link_to 'Signup', signup_path, class: 'nav-link header-link-to-guest'
